.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}
.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
}
.loading-text span:nth-child(1) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}
@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}
@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}
.loader-enter {
  opacity: 0.01;
}
.loader-enter.loader-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.loader-leave {
  opacity: 1;
}
.loader-leave.loader-leave-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}
.overlayLogin-appear {
  opacity: 0.01;
  transform: translateY(100px);
}
.overlayLogin-appear.overlayLogin-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s ease-in;
}
#signin-signup {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/backgr.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#signin-signup .overlay-login {
  max-width: 350px;
  padding: 60px 20px 30px 20px;
  position: relative;
  z-index: 1;
}
#signin-signup .overlay-login .head-login-logo {
  text-align: center;
  color: white;
  font-size: 85px;
  padding-bottom: 50px;
  opacity: 0;
  animation: loginLogo .5s forwards;
  animation-delay: .4s;
}
#signin-signup .overlay-login:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#signin-signup .overlay-login .my-button {
  border-radius: 20px;
  background-color: #ff3366;
  padding: 14px;
  margin: 30px 0;
  outline: none;
  animation-delay: .8s;
}
#signin-signup .overlay-login .my-button:hover {
  opacity: 0.9;
}
#signin-signup .overlay-login .my-input-transparent {
  box-shadow: none;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(228, 230, 232, 0.4);
  background-color: transparent;
  padding-left: 25px;
}
#signin-signup .overlay-login .my-input-transparent::-webkit-input-placeholder {
  color: rgba(228, 230, 232, 0.5);
}
#signin-signup .overlay-login .user-input,
#signin-signup .overlay-login .password-input,
#signin-signup .overlay-login .fullname-input {
  animation-delay: .6s;
}
#signin-signup .overlay-login .user-input {
  position: relative;
}
#signin-signup .overlay-login .user-input::before {
  font-family: 'FontAwesome';
  color: white;
  position: absolute;
  content: "\f0e0";
  top: 6px;
  font-size: 18px;
}
#signin-signup .overlay-login .password-input {
  position: relative;
}
#signin-signup .overlay-login .password-input::before {
  font-family: 'FontAwesome';
  color: white;
  position: absolute;
  content: "\f023";
  top: 6px;
  font-size: 18px;
}
#signin-signup .overlay-login .fullname-input {
  position: relative;
}
#signin-signup .overlay-login .fullname-input::before {
  font-family: 'FontAwesome';
  color: white;
  position: absolute;
  content: "\f2be";
  top: 6px;
  font-size: 18px;
}
#signin-signup .overlay-login .sign-up-link {
  text-align: center;
}
#signin-signup .overlay-login .sign-up-link span {
  color: rgba(228, 230, 232, 0.5);
}
#signin-signup .overlay-login .sign-up-link span a {
  color: white;
}
.overlayLogin-enter {
  opacity: 0.01;
}
.overlayLogin-enter.overlayLogin-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.overlayLogin-leave {
  opacity: 1;
}
.overlayLogin-leave.overlayLogin-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.overlayLogin-appear {
  opacity: 0.01;
  transform: translateY(100px);
}
.overlayLogin-appear.overlayLogin-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s ease-in;
}
@keyframes loginLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
